<div class="carousel" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1 class="text-center">Panels</h1>
      <% @events["panels"].each do |p| %>
        <h3><%= p["room"]%></h3>
        <p><%= p["name"] %></p>
        <p>
          Starts:<span id="<%=p['unique']%>"></span>
          Ends:<span id="<%=p['unique']%>end"></span>
        </p>
        <% unless p == @events["panels"].last %>
          <hr>
        <% end %>
        <script type="text/javascript">
          document.getElementById("<%=p['unique']%>").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
          document.getElementById("<%=p['unique']%>end").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
        </script>
      <% end %>
    </div>
    <div class="item">
      <h1 class="text-center">Mages</h1>
      <% @events["mages"].each do |p| %>
      <h3><%= p["room"]%></h3>
      <p><%= p["name"] %></p>
      <p>
        Starts:<span id="<%=p['unique']%>"></span>
        Ends:<span id="<%=p['unique']%>end"></span>
      </p>
      <% unless p == @events["mages"].last %>
        <hr>
      <% end %>
      <script type="text/javascript">
        document.getElementById("<%=p['unique']%>").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
        document.getElementById("<%=p['unique']%>end").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
      </script>
    <% end %>
    </div>
    <div class="item">
      <h1 class="text-center">Music</h1>
      <% @events["music"].each do |p| %>
      <h3><%= p["room"]%></h3>
      <p><%= p["name"] %></p>
      <p>
        Starts:<span id="<%=p['unique']%>"></span>
        Ends:<span id="<%=p['unique']%>end"></span>
      </p>
      <% unless p == @events["music"].last %>
        <hr>
      <% end %>
      <script type="text/javascript">
        document.getElementById("<%=p['unique']%>").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
        document.getElementById("<%=p['unique']%>end").innerHTML = moment.unix(<%=p["start"].to_i%>).fromNow();
      </script>
    <% end %>
  </div>
</div>
