<div class="wrapper combined-layout">
  <%= render partial: "stream"%>
  <%= render partial: "header"%>
  <%= render partial: "footer"%>
  <%= render partial: "logo" %>
  <%= render partial: "carosel" %>
</div>
