<div class="wrapper schedule-layout">

  <%= render partial: "header_schedule" %>

  <div class="map">
    <table class="logo_table">
      <tr>
        <td><%= image_tag("qr", size: "150x150") %></td>
        <td><%= image_tag("m2018logo", height: "150px") %></td>
      </tr>
      <tr><td>Scan for Guidebook</td><td></td></tr>
    </table>
    <%= image_tag("map_cropped", width: "100%") %>
    <%= image_tag("logos", width: "50%")%>
  </div>

  <div class="schedule">
    <h3>National Harbor Level</h3>
    <table class="schedule-table">
      <tr>
        <th></th>
        <th>Room</th>
        <th>Event</th>
        <th>Start</th>
      </tr>
      <% @floors[3]["panels"].each do |p| %>
        <tr>
          <td><%= image_tag(MainHelper.panel_tag(p.room.name), size: "20x20")%></td>
          <td><%= p.room.name %></td>
          <td><%= p.name %></td>
          <td><%= (Time.at(p.start_unix.to_i) - 5.hours).strftime("%I:%M%p")%></td>
        </tr>
      <% end %>
    </table>
    <h3>Ballroom Level</h3>
    <table class="schedule-table">
      <tr>
        <th></th>
        <th>Room</th>
        <th>Event</th>
        <th>Start</th>
      </tr>
      <% @floors[2]["panels"].each do |p| %>
        <tr>
          <td><%= image_tag(MainHelper.panel_tag(p.room.name), size: "20x20")%></td>
          <td><%= p.room.name %></td>
          <td><%= p.name %></td>
          <td><%= (Time.at(p.start_unix.to_i) - 5.hours).strftime("%I:%M%p") %></td>
        </tr>
      <% end %>
    </table>
    <h3>Atrium Level</h3>
    <table class="schedule-table">
      <tr>
        <th></th>
        <th>Room</th>
        <th>Event</th>
        <th>Start</th>
      </tr>
      <% @floors[0]["panels"].each do |p| %>
        <tr>
          <td><%= image_tag(MainHelper.panel_tag(p.room.name), size: "20x20")%></td>
          <td><%= p.room.name %></td>
          <td><%= p.name %></td>
          <td><%= (Time.at(p.start_unix.to_i) - 5.hours).strftime("%I:%M%p") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
