<div class="wrapper stream-layout">
  <%= render partial: "stream" %>
  <%= render partial: "header" %>
  <%= render partial: "logo" %>
  <%= render partial: "qr" %>
  <%= render partial: "footer" %>
</div>
