
<script type="text/javascript">
WowzaPlayer.create('playerElement',
    {
    "license":"PLAY1-bF3WZ-Nketh-PRktw-TFbnB-8hXQ3",
    "title":"",
    "description":"",
    "sourceURL":"<%= @disp_room.link %>",
    "autoPlay":<%= params[:autoplay] || false%>,
    "volume":"75",
    "mute":false,
    "loop":false,
    "audioOnly":false,
    "uiShowQuickRewind":true,
    "uiQuickRewindSeconds":"30"
    }
);
</script>
<%#"sourceURL":"http://warehouse.magfest.net:1935/testLoopStream/asdf/playlist.m3u8",%>
<% time = Time.local(2017,"jan",6,16,45,0) %>
<div class="container, full_width_div" style="overflow:hidden">
  <div class="row">
    <div class="col-sm-10">
      <div style="width:100%;"><div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0"></div></div>
    </div>
    <div class="col-sm-2 text-center carousel slide fill" data-ride="carousel" data-interval="7000" id="schedule-pages">

      <div class="carousel-inner side_bar text-center" role="listbox">
        <div class="item active">
          <h1>Panels</h1>
          <h3><%= @rooms[:panels_1].display_name(request.base_url) %></h3>
          <%= @rooms[:panels_1].display_current(time) %>
          <a href="<%= request.base_url %>/?room=Panels_2&autoplay=true"><h3>Panels 2</h3></a>
          <%= @rooms[:panels_2].display_current(time) %>
          <h3>Panels 3</h3>
          <%= @rooms[:panels_3].display_current(time) %>
          <h3><%= @rooms[:panels_4].display_name(request.base_url) %></h3>
          <%= @rooms[:panels_4].display_current(time) %>
        </div>
        <div class="item">
          <h1>Panels Cont.</h1>
          <h3>MAGES 1</h3>
          <%= @rooms[:mages_1].display_current(time) %>
          <h3>MAGES 2</h3>
          <%= @rooms[:mages_2].display_current(time) %>
          <h3>MAGES Forum</h3>
          <%= @rooms[:forum].display_current(time) %>
          <h3>Arena</h3>
          <%= @rooms[:arena].display_current(time) %>
        </div>
        <div class="item">
          <a href="<%= request.base_url %>/?room=Concerts&autoplay=true"><h1>Main Stage</h1></a>
          <%= @rooms[:concerts].display_current(time) %>
          <a href="<%= request.base_url %>/?room=Mega_Man-athon_5&autoplay=true"><h1>Mega Man-athon 5</h1></a>
          <%= @rooms[:megaman].display_current(time) %>
          <h1>Chipspace</h1>
          <%= @rooms[:chipspace].display_current(time) %>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="container text-center full_width_div footer_bar" style="overflow:hidden">
  <div class="row">
    <div class="col-sm-9">
      <% unless @disp_room == nil  %>
        <h3><%= @disp_room.get_next(time).name %></h3>
        <p><%= @disp_room.get_next(time).description %></p>
      <% end %>
    </div>
    <div class="col-sm-2" id="logo">
      <div id="clock" class="clock"></div>
      <%= image_tag("m2017logo.png") %>
    </div>
  </div>
</div>


