<div class="card_flex">
  <% @panels.each do |panel| %>
    <% name = panel["name"].html_safe %>
    <div class="card_item">
      <h3><%= panel["location"] %></h3>
      <p>
        Starts <span id="start_<%= name %>"></span>
        | Ends <span id="end_<%= name %>"></span>
        <script type="text/javascript">
          var start = moment.unix(<%= panel["start_unix"]%>);
          var end = moment.unix(<%= panel["end_unix"]%>);
          document.getElementById("start_<%= name %>").innerHTML=start.fromNow();
          document.getElementById("end_<%= name %>").innerHTML=end.fromNow();
        </script>
      </p>
      <p><%= name %></p>
      <%= panel %>
      <!-- <%= panel %> -->
    </div>
  <% end %>
</div>
